.cardList {
  height: 80%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);

  overflow: hidden;

  &Pokemons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &Loading {
      font-family: cursive, sans-serif;
      color: #f5f6fa;
    }
  }

  &Actions {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 2fr;
  }
}
